/* head */
#title{
	height: 4px;
	text-indent: -9999em;
	background-color: #c96;
	position: relative;
	z-index: 888;
}
#hd{
	margin-bottom: 40px;
	overflow: hidden;
}
#hd h1{
	height: 4px;
	background: url(/static/img/color.png) repeat;
	position: relative;
	z-index: 8;
}
#hd .qrcode{
	position: absolute;
	right: 1em;
	width: 180px;
	/*top: 4px;*/
	top: -180px;
	cursor: pointer;
}
#hd .qrcode img{
	width: 180px;
	display: block;
}
#hd .qrcode .btn{
	display: block;
	width: 50px;
	height: 77px;
	background-image: url(/static/img/qrcode_pull.gif);
	margin: 0 auto;
}

#bd .main{	
	width: 600px;
	margin: 0 auto;
}

#bottom{
	display: block;
	width:5%;
	width: 40px;
	height:40px;
	position: fixed;
	right:0;
	top:0;
	cursor: pointer;
	line-height: 40px;
	color: #693;
	font-size: 1.2em;
	text-align: center;
}

/* content */
h1,em{
	display: block;
	font-weight: 600;
	color: #f33;
	line-height: 1.8em;
	font-size: 1.2em;
}
h1{
	text-align: center;
}
#bd .main em span{
	display: inline-block;
	width: 8em;
	text-align: right;
	font-size: .7em;
	color: #bbb;
	margin-right: .5em;
	line-height: 2.3;
}
#bd .main em a{
	color: #111;
	vertical-align: bottom;
}
#bd .main em a:hover{
	color: #f33;
}
.time{
	display: block;
	text-align: right;
	color: #999;
	margin-bottom: 2em;
}
.content{
	padding-bottom: 1em;
	text-align: justify;
}
.content p{
	line-height: 1.6;
	text-indent: 2em;
	padding: .5em 0;
}
.content img{
	padding: 1em 0;
	margin-left: -2em;
	width: 100%;
}
#page{
	text-align: center;
	font-size: 2em;
	margin:30px 0;
}

#page a{
	display: inline-block;
	padding: .4em;
	-webkit-transform: scaleY(1.8);
	font-size: .6em;
	vertical-align: middle;
	position: relative;
	top: -6px;
}
#page a:hover{
	text-decoration: none;
}
#page span{
	font-size: 1.2em;
}


#search{
	margin: 30px auto;
	width: 400px;
	opacity: .6;
}
#search:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#search div{
	float: left;
}
#search .text{
	width: 78%;
}
#search input{
	padding: .6em 8px;
	font-size: 1em;
	border: none;
	width: 100%;
	-webkit-appearance: none;
	border-radius: 0px;
}
#search .submit{
	width: 22%;
}
#search .submit input{
	background: #f33;
	color: #fff;
	cursor: pointer;
}
#search:active,
#search:hover{
	opacity: 1;
}

#nav{
	text-align: center;
}
#nav a,
#nav a:visited{
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 2em;
	opacity: .6;
}
#nav a:hover{
	opacity: 1;
	text-decoration: none;
}


/* foot */
#ft{
	background:#fff url(/static/img/color.png);
	color: #fff;
	position: relative;
	padding: 10px 40px;
	margin-top: 100px;
}

#ft .motto{
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	margin: 20px 0;
}

#ft .motto span{
	font-size: .6em;
	padding-left: 1.6em;	
}


#ft h3{
	line-height: 1.8em;
	font-size: 1.2em;
}

#ft .me{
	display: block;
	width: 100px;
	height: 100px;
	background: #f33 url(/static/img/me.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: 8px #fff solid;
	margin: 0 auto;
	margin-top: -80px;
}
#ft .me:hover,
#ft .me:active{
	/*-webkit-animation: me .5s ease-in-out;

	-webkit-transform: scale(1.2,1.2);*/
}

@-webkit-keyframes me{
	0%{-webkit-transform: scale(1,1);}
	100%{-webkit-transform: scale(1.2,1.2);}
}

#loading{
	display: block;
	position: fixed;
	top: 300px;
	left: 50%;
	background-color: #693;
	opacity: .6;
	color: #fff;
	padding: .5em 1em;
	margin-left: -3em;
	display: none;
}
#to_top{
	background-color: #693;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: .6em;
	padding: .6em;
	color: #fff;
	cursor: pointer;
}

/*芬兰*/

/* duoshuo */
.ds-sort{
	display: none;
}

.sns_share{
	height: 26px;
	border-top: #f33 solid 2px;
	opacity: .6;
}
.sns_share:hover{
	opacity: 1;
}
.sns_share a{
	float: right;
	text-indent: -9999em;
	width: 26px;
	height: 26px;
	background-color: #f33;
	background-position: center;
	background-repeat: no-repeat;
}
.sns_share .weibo{
	background-image: url(/static/img/wb.png);
}
.sns_share .renren{
	background-image: url(/static/img/rr.png);
}