/*reponsive*/
@media only screen and (max-width:600px){
	#hd{
		height: auto;
		margin-bottom: 18px;
	}
	#hd .qrcode{
		display: none;
	}
	#bd .main{
		width: 94%;
	}
	.content p{
		text-indent: 0;
	}
	.content img{
		margin-left: 0;
		padding: 0;
	}
	#search{
		width: 94%;
	}
	#ft{
		padding: 20px 0;
	}
	#ft .motto{
		width: 94%;
		text-align: center;
		font-size: 1.2em;
	}
	#search input{
		padding: .4em 4px;
	}
}